<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
  
    <!-- Collapsible Navbar -->
    <div class="collapse navbar-collapse" id="example-1">
      <ul class="nav navbar-nav">
        <li><a href="<%= companies_path %>">Home</a></li>
        <li><a href="<%= new_company_path %>">Crear Empresa</a></li>
        <li><a href="<%= new_area_path %>">Crear Area</a></li>

      </ul>
    </div>
  
  </div>
</nav>